nav.navigation {
    height: 150px;
    line-height: 150px;
    background-color: var(--secondary);
    text-align: center;
}

nav.navigation a {
    color: var(--primary);
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    /* background-color: red; */
    /* width: 150px;
    height: 70px; */
    /* anchor tag has display: inline; as default*/
    /* therefore it does not accept width and height property */
    /* margin-left: 70px;
    margin-right: 150px; */
    /* margin-top: 30px; */
    /* padding-left: 30px;
    padding-right: 150px; */
    /* padding-top: 50px;
    padding-bottom: 400px; */
    /* display: block; */
    /* margin-bottom: 130px; */
    display: inline-block;
    margin: 0 20px;
}

/* :hover pseudo class */
nav.navigation a:hover {
    color: #fff;
    font-weight: bold;
}





/* h1 {
    text-align: center;
}

h1:hover {
    color: red;
    font-size: 60px;
} */

/* h1 {
    display: block
    background-color: red;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 200px;
    padding-top: 100px;
    padding-left: 30px
} */





