.button-btn {
    width: 180px;
    height: 40px;
    background-color: var(--primary);
    border: 2px solid;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    /* transition-property: background-color;
    transition-duration: 0.5s; */
    transition: background-color 0.5s;
}

.button-btn:hover {
    background-color: #fff;
}

.a-btn {
    background-color: var(--primary);
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    /* width: 180px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px ; */
    padding: 10px 50px;
    display: inline-block;
    font-size: 20px;
    transition-property: background-color, color;
    transition-duration: 500ms;
}

.a-btn:hover {
    background-color: #000;
    color: #fff
}


header {
    margin-bottom: 100px;
}

nav.navigation {
    height: 150px;
    line-height: 150px;
    background-color: var(--secondary);
    text-align: center;
}

nav.navigation a {
    color: var(--primary);
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    /* background-color: red; */
    /* width: 150px;
    height: 70px; */
    /* anchor tag has display: inline; as default*/
    /* therefore it does not accept width and height property */
    /* margin-left: 70px;
    margin-right: 150px; */
    /* margin-top: 30px; */
    /* padding-left: 30px;
    padding-right: 150px; */
    /* padding-top: 50px;
    padding-bottom: 400px; */
    /* display: block; */
    /* margin-bottom: 130px; */
    display: inline-block;
    margin: 0 20px;
}

/* :hover pseudo class */
nav.navigation a:hover {
    color: #fff;
    font-weight: bold;
}





/* h1 {
    text-align: center;
}

h1:hover {
    color: red;
    font-size: 60px;
} */

/* h1 {
    display: block
    background-color: red;
    width: 300px;
    height: 300px;
    margin-top: 200px;
    margin-left: 200px;
    padding-top: 100px;
    padding-left: 30px
} */





